.wrap{
    display: flex;
flex-wrap: wrap;
}
.user{
    width: 200px;
    height: 100px;
    background: silver;
    margin: 5px;
    margin-right: calc(25% - 100px)  ;
    margin-left:calc(25% - 100px) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}